# Ignore batch files to start the bot.
*.bat

# Ignore bot config, duh.
botconfig.json
config.json

# Ignore RCON information, contains RCON password.
rcon_info.json   

# Ignore node_modules folder, pointless when you can just run 'npm i'
node_modules/
package-lock.json

# Ignore logs
logs_
